.productinfo {
    border: 1px solid black;
    display: inline-block;
    width: 300px;
    text-align: center;
}

.imgs {
    max-width: 200px;
}

.productName {
  text-decoration: none;
  color: black;
}