@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,400&display=swap');
<<<<<<< HEAD
* {
    font-family: 'Barlow Condensed', sans-serif;
}
.productinfo {
=======

* {
    font-family: 'Barlow Condensed', sans-serif;

}

.productinfo {
    
>>>>>>> 310f2fbf6c1ae9220cc6a95f4a7caa4ac8d0caeb
    display: inline-block;
    background-color: white;
    text-align: center;
    margin: 30px;
    box-shadow: 0px 3px 6px 0px rgba(133, 133, 133, 0.2);
}
.imgs {
    width: 250px;
    height: 250px;
    display:inline-block;
}
.productName {
  text-decoration: none;
  color: black;
}
<<<<<<< HEAD
.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-between;
}
 @media only screen and (max-width: 600px) {
    .items-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }
=======

.items-container {
    
    display: flex;
    
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-between;
    
     
    
}



 @media only screen and (max-width: 600px) {
    .items-container {
    
        display: flex;
       
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        
         
        
    }

>>>>>>> 310f2fbf6c1ae9220cc6a95f4a7caa4ac8d0caeb
    .imgs {
        width: 300px;
        height: 300px;
        display:inline-block;
    }
  }